<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document Not found</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <style>
            html,
            body {
                margin: 0;
                padding: 0;
            }

            .container{
                display: grid;
                justify-content: center;
                align-content: center;
                width: 100vw;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img
                src="https://cdn.pixabay.com/photo/2018/01/04/15/51/404-error-3060993_960_720.png"
                alt="Document not found"
            />
        </div>
    </body>
</html>
